In [1]:
import pandas as pd
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
file_url = "A:/Programming/Python/NLP/Data files/EDA Session 3.1/flavors_of_cacao.csv"
df = pd.read_csv(file_url)

In [3]:
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [4]:
for col in df.columns:
    print(col+"\n")

Company
(Maker-if known)

Specific Bean Origin
or Bar Name

REF

Review
Date

Cocoa
Percent

Company
Location

Rating

Bean
Type

Broad Bean
Origin

In [5]:
df.tail(10)

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
1785,Zotter,Huiwani Coop,879,2012,75%,Austria,3.00,"Criollo, Trinitario",Papua New Guinea
1786,Zotter,El Ceibo Coop,879,2012,90%,Austria,3.25,,Bolivia
1787,Zotter,Santo Domingo,879,2012,70%,Austria,3.75,,Dominican Republic
1788,Zotter,"Kongo, Highlands",883,2012,68%,Austria,3.25,Forastero,Congo
1789,Zotter,"Indianer, Raw",883,2012,58%,Austria,3.50,,
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [6]:
df.dtypes

Company \n(Maker-if known)            object
Specific Bean Origin\nor Bar Name     object
REF                                    int64
Review\nDate                           int64
Cocoa\nPercent                        object
Company\nLocation                     object
Rating                               float64
Bean\nType                            object
Broad Bean\nOrigin                    object
dtype: object

In [7]:
df.shape

(1795, 9)

In [8]:
df.columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [9]:
for col in df.columns:
    n_unique_values = df[col].nunique()
    print("col: %s has %d unique values" % (col, n_unique_values))
    print(df[col].value_counts(dropna=False).index)

col: Company
(Maker-if known) has 416 unique values
Index(['Soma', 'Bonnat', 'Fresco', 'Pralus', 'A. Morin', 'Arete', 'Guittard',
       'Domori', 'Valrhona', 'Hotel Chocolat (Coppeneur)',
       ...
       'Mayacama', 'Majani', 'Malagos', 'Malmo', 'Manifesto Cacao',
       'Chocablog', 'Marigold's Finest', 'Chloe Chocolat', 'Chequessett',
       'Ki' Xocolatl'],
      dtype='object', name='Company \n(Maker-if known)', length=416)
col: Specific Bean Origin
or Bar Name has 1039 unique values
Index(['Madagascar', 'Peru', 'Ecuador', 'Dominican Republic', 'Venezuela',
       'Chuao', 'Sambirano', 'Ocumare', 'Ghana', 'Papua New Guinea',
       ...
       'Ghana, #211, MR, MC', 'Jamaica, #209, DR, SC',
       'Conacado, #212, LR, SC', 'Jamaica, #210, DR, MC',
       'Sambirano Valley, #214, LR, MC', 'Conacado, #213, DR, -C',
       'Sambirano Valley, #215, MR, MC', 'Chuao, #218, MR, MC',
       'Chuao, #217, DR, MC', 'Brazil, Mitzi Blue'],
      dtype='object', name='Specific Bean Origin\nor Bar Name', length=1039)
col: REF has 440 unique values
Index([ 414,  404,   24,  387,   32, 1454, 1466, 1450,  431,  552,
       ...
        263,  157, 1003,  772,  853,  579,  855,  597,  849,  202],
      dtype='int64', name='REF', length=440)
col: Review
Date has 12 unique values
Index([2015, 2014, 2016, 2012, 2013, 2011, 2009, 2010, 2008, 2007, 2006, 2017], dtype='int64', name='Review\nDate')
col: Cocoa
Percent has 45 unique values
Index(['70%', '75%', '72%', '65%', '80%', '74%', '68%', '60%', '73%', '85%',
       '64%', '77%', '71%', '67%', '76%', '66%', '100%', '82%', '78%', '55%',
       '62%', '63%', '69%', '90%', '61%', '88%', '58%', '81%', '83%', '84%',
       '72.5%', '91%', '56%', '73.5%', '99%', '89%', '53%', '46%', '60.5%',
       '57%', '79%', '86%', '50%', '42%', '87%'],
      dtype='object', name='Cocoa\nPercent')
col: Company
Location has 60 unique values
Index(['U.S.A.', 'France', 'Canada', 'U.K.', 'Italy', 'Ecuador', 'Australia',
       'Belgium', 'Switzerland', 'Germany', 'Austria', 'Spain', 'Colombia',
       'Hungary', 'Venezuela', 'Japan', 'Brazil', 'Peru', 'Madagascar',
       'New Zealand', 'Denmark', 'Vietnam', 'Scotland', 'Guatemala', 'Israel',
       'Costa Rica', 'Argentina', 'Poland', 'Lithuania', 'Honduras',
       'South Korea', 'Nicaragua', 'Sweden', 'Domincan Republic', 'Ireland',
       'Netherlands', 'Fiji', 'Sao Tome', 'Puerto Rico', 'Mexico', 'Amsterdam',
       'Iceland', 'Singapore', 'Portugal', 'Grenada', 'South Africa',
       'Finland', 'Bolivia', 'St. Lucia', 'Chile', 'Philippines',
       'Czech Republic', 'India', 'Martinique', 'Niacragua', 'Ghana', 'Wales',
       'Eucador', 'Russia', 'Suriname'],
      dtype='object', name='Company\nLocation')
col: Rating has 13 unique values
Index([3.5, 3.0, 3.25, 2.75, 3.75, 2.5, 4.0, 2.0, 2.25, 1.5, 1.0, 1.75, 5.0], dtype='float64', name='Rating')
col: Bean
Type has 41 unique values
Index([                       ' ',               'Trinitario',
                        'Criollo',                'Forastero',
           'Forastero (Nacional)',                    'Blend',
            'Criollo, Trinitario',       'Forastero (Arriba)',
            'Criollo (Porcelana)',      'Trinitario, Criollo',
          'Forastero (Parazinho)',   'Forastero (Arriba) ASS',
                        'Beniano',                   'Matina',
                            'EET',        'Nacional (Arriba)',
             'Criollo, Forastero',              'Amazon, ICS',
          'Trinitario, Forastero',               'Amazon mix',
            'Forastero (Catongo)',                 'Nacional',
       'Trinitario (85% Criollo)',         'Criollo (Amarru)',
           'Criollo (Ocumare 61)',               'Criollo, +',
        'Forastero (Arriba) ASSS',         'Trinitario, TCGA',
         'Trinitario (Amelonado)',     'Trinitario, Nacional',
                              nan,    'Forastero (Amelonado)',
          'Forastero, Trinitario',     'Criollo (Ocumare 77)',
                         'Amazon',   'Forastero(Arriba, CCN)',
           'Criollo (Ocumare 67)',                    'CCN51',
           'Trinitario (Scavina)',  'Blend-Forastero,Criollo',
              'Criollo (Ocumare)',           'Criollo (Wild)'],
      dtype='object', name='Bean\nType')
col: Broad Bean
Origin has 100 unique values
Index([                'Venezuela',                   'Ecuador',
                            'Peru',                'Madagascar',
              'Dominican Republic',                         ' ',
                       'Nicaragua',                    'Brazil',
                         'Bolivia',                    'Belize',
       ...
       'Africa, Carribean, C. Am.',   'Ven., Indonesia, Ecuad.',
                 'Trinidad-Tobago',  'Peru, Ecuador, Venezuela',
            'Venezuela, Dom. Rep.',              'Peru, Belize',
           'Peru, Mad., Dom. Rep.',                         nan,
               'PNG, Vanuatu, Mad',      'Venezuela, Carribean'],
      dtype='object', name='Broad Bean\nOrigin', length=101)

In [10]:
df.describe(include='all')

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
count,1795,1795,1795.000000,1795.000000,1795,1795,1795.000000,1794,1794
unique,416,1039,NaN,NaN,45,60,NaN,41,100
top,Soma,Madagascar,NaN,NaN,70%,U.S.A.,NaN,,Venezuela
freq,47,57,NaN,NaN,672,764,NaN,887,214
mean,NaN,NaN,1035.904735,2012.325348,NaN,NaN,3.185933,NaN,NaN
std,NaN,NaN,552.886365,2.927210,NaN,NaN,0.478062,NaN,NaN
min,NaN,NaN,5.000000,2006.000000,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,576.000000,2010.000000,NaN,NaN,2.875000,NaN,NaN
50%,NaN,NaN,1069.000000,2013.000000,NaN,NaN,3.250000,NaN,NaN
75%,NaN,NaN,1502.000000,2015.000000,NaN,NaN,3.500000,NaN,NaN
max,NaN,NaN,1952.000000,2017.000000,NaN,NaN,5.000000,NaN,NaN

In [33]:
print(df["Company\nLocation"].value_counts())

Company\nLocation
U.S.A.               764
France               156
Canada               125
U.K.                  96
Italy                 63
Ecuador               54
Australia             49
Belgium               40
Switzerland           38
Germany               35
Austria               26
Spain                 25
Colombia              23
Hungary               22
Venezuela             20
Japan                 17
Brazil                17
Peru                  17
Madagascar            17
New Zealand           17
Denmark               15
Vietnam               11
Scotland              10
Guatemala             10
Israel                 9
Costa Rica             9
Argentina              9
Poland                 8
Lithuania              6
Honduras               6
South Korea            5
Nicaragua              5
Sweden                 5
Domincan Republic      5
Ireland                4
Netherlands            4
Fiji                   4
Sao Tome               4
Puerto Rico            4
Mexico                 4
Amsterdam              4
Iceland                3
Singapore              3
Portugal               3
Grenada                3
South Africa           3
Finland                2
Bolivia                2
St. Lucia              2
Chile                  2
Philippines            1
Czech Republic         1
India                  1
Martinique             1
Niacragua              1
Ghana                  1
Wales                  1
Eucador                1
Russia                 1
Suriname               1
Name: count, dtype: int64